<div class="modal-header border-0 pb-0">
  <h5 class="modal-title fw-bold">Create User</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">

  <form [formGroup]="form" class="d-flex flex-column gap-3">

    <!-- Full Name -->
    <div>
      <label class="form-label fw-semibold">Full Name</label>
      <input formControlName="name" class="form-control form-control-lg" placeholder="Enter full name">
    </div>

    <!-- Email -->
    <div>
      <label class="form-label fw-semibold">Email</label>
      <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Enter email">
    </div>

    <!-- Password -->
    <!-- <div>
      <label class="form-label fw-semibold">Password</label>
      <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Enter password">
    </div> -->

    <!-- Role -->
    <div>
      <label class="form-label fw-semibold">Role</label>
      <select formControlName="role" class="form-select form-select-lg">
        <option value="">Select role</option>
        <option value="Admin">Admin</option>
        <option value="Recruiter">Recruiter</option>
        <option value="User">User</option>
      </select>
    </div>

  </form>

</div>

<div class="modal-footer border-0 d-flex justify-content-end gap-2">

  <app-primarybutton
    label="Cancel"
    variant="secondary"
    (clicked)="cancel()">
  </app-primarybutton>

  <app-primarybutton
    label="Save"
    variant="primary"
    [loading]="loading"
    (clicked)="save()">
  </app-primarybutton>

</div>
