<div class="container mt-4">

  <h2 class="mb-3">Submissions</h2>

  <!-- Add Submission Button -->
  <button 
    class="btn btn-primary mb-3"
    (click)="openCreateModal()">
    + New Submission
  </button>

  <!-- Loading State -->
  <div *ngIf="loading" class="alert alert-info">
    Loading submissions...
  </div>

  <!-- Error State -->
  <div *ngIf="error" class="alert alert-danger">      
    {{ error }}
  </div>

  <!-- Table -->
  <table class="table table-striped border secondary table-hover align-middle" *ngIf="!loading && !error">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Candidate</th>
        <th>Recruiter</th>
        <th>Client</th>
        <th>Job Title</th>
        <th>Status</th>
        <th>Submitted</th>
        <th>Rate</th>
        <th>Location</th>
        <th style="width: 100px">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="submissions.length === 0">
        <td colspan="10" class="text-center py-3 text-muted">No submissions found</td>
      </tr>
      <tr *ngFor="let item of submissions">
        <td>{{ item.submissionId }}</td>
        <td>{{ item.candidateName || '-' }}</td>
        <td>{{ item.recruiterName || '-' }}</td>
        <td>{{ item.clientName || '-' }}</td>
        <td>{{ item.jobTitle || '-' }}</td>
        <td>{{ item.currentStatus || '-' }}</td>
        <td>{{ ( item.submissionDate) | date }}</td>
        <td>{{ item.rate != null ? (item.rate | number:'1.2-2') : '-' }}</td>
        <td>{{ item.location || '-' }}</td>

        <td>
          <button class="btn btn-sm btn-outline-secondary">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- CREATE SUBMISSION MODAL -->
<div 
  class="modal fade" 
  id="createSubmissionModal" 
  tabindex="-1"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Create Submission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <app-create-submission (submissionCreated)="closeCreateModal()"></app-create-submission>
      </div>

    </div>
  </div>
</div>
